
/* Pokemon list */
.list-pokemon {
    display: flex;
    width: 100%;
    justify-content: center;
  
    padding-top: 3rem;
  }
  .list-pokemon__wrapper {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    row-gap: 30px;
    gap: 40px;
  }
  @media (max-width: 600px) {
    .list-pokemon {
      width: calc(100% - 20px);
      padding: 10px;
      padding-top: 2rem;
    }
    .list-pokemon__wrapper {
      width: 100%;
    }
  }
  
  /* Card */
  .card {
    background-color: #6b6b6b;
    max-width: 490px;
    min-width: 380px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    border: 2px solid #6b6b6b;
  }
  .card_wrapper {
    display: flex;
    height: 170px;
    width: 100%;
  }
  .card__image__container {
    /* height: 100%;
      width: 230px; */
    background-color: #d9e4e3;
    margin: 0px;
    padding: 10px;
    border-radius: 5px;
  }
  .card__image {
    margin: 0px;
    width: 200px;
    height: 100%;
  }
  .card__containt {
    width: 70%;
  }
  .card__containt__title__text {
    color: #9ee7d1;
  }
  .card__container_info {
    max-width: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }
  .card__description {
    text-align: start;
    margin-top: 5px;
    font-size: 17px;
    max-height: 94px;
    overflow: hidden;
    text-overflow: ellipsis;

  }
  .card__containt__pokeball {
    margin-right: 5px;
    color: #3c58a5;
  }
  .card__containt_detail {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    position: absolute;
    bottom: 10px;
  }
  
  @media (max-width: 600px) {
      .list-pokemon__wrapper .card {
          max-width: 100%;
          min-width: 100px;    }
    .card_wrapper {
      display: flex;
      height: 120px;
    }
  
    .card__image {
      max-width: 100px;
      height: 100%;
    }

    .card__containt__pokeball {
      height: 20px;
      width: 20px;
    }
    .card__container_info {
      max-width: 180px;
    }
    .card__description {   font-size: 12px;
      height: 50px;
      width: 100%;
      overflow: hidden;
      /* white-space: inherit; */
      text-overflow: ellipsis;
      /* background-color: #9ee7d1; */
    }
    .card__containt__paragraph {
      height: auto;
      font-size: 10px;
    }
  }
  